<h1>Welcome to Readdit!</h1>
<p>This is site that allows you to share cool stories or things on the internet with your friends as well as comment and vote on the ones you like best! Click the icon for the story link, or click on the title for the comments.</p>

<div class="row">
	<div class="col-md-6">
		<%= link_to "Post", new_story_path ,class: 'btn btn-primary navbar-btn', method: :get %></li>
	</div>
	<div class="col-md-6">
		<%= link_to "View", stories_path ,class: 'btn btn-success navbar-btn', method: :get %></li>
	</div>
</div>